USE [master]
GO
/****** Object:  Database [dbRamirezBike]    Script Date: 18/11/2025 11:03:53 a. m. ******/
CREATE DATABASE [dbRamirezBike]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRamirezBike', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbRamirezBike.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbRamirezBike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbRamirezBike_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRamirezBike].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRamirezBike]
GO
/****** Object:  User [user_luycattdb2025]    Script Date: 18/11/2025 11:03:53 a. m. ******/
CREATE USER [user_luycattdb2025] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 18/11/2025 11:03:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 18/11/2025 11:03:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
	[descripcion] [varchar](max) NULL,
	[precio] [int] NULL,
	[precioProovedor] [int] NULL,
	[imgUrl] [varchar](max) NULL,
	[stock] [int] NULL,
	[estado] [bit] NULL,
	[CreacionFecha] [date] NULL,
	[ModificacionFecha] [date] NULL,
	[idCategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rol]    Script Date: 18/11/2025 11:03:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 18/11/2025 11:03:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[tipoDocumento] [varchar](200) NULL,
	[documento] [varchar](200) NULL,
	[nombre] [varchar](200) NULL,
	[apellido] [varchar](200) NULL,
	[telefono] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[clave] [varchar](max) NULL,
	[idRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([idCategoria], [nombre]) VALUES (1, N'Bicicletas')
INSERT [dbo].[categoria] ([idCategoria], [nombre]) VALUES (2, N'Accesorios')
INSERT [dbo].[categoria] ([idCategoria], [nombre]) VALUES (3, N'Ropa')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([idProducto], [nombre], [descripcion], [precio], [precioProovedor], [imgUrl], [stock], [estado], [CreacionFecha], [ModificacionFecha], [idCategoria]) VALUES (1, N'Bicicleta Montaña X', N'Modelo de entrada con suspensión delantera.', 850, 600, N'url/bici_x.png', 15, 1, CAST(N'2025-11-18' AS Date), CAST(N'2025-11-18' AS Date), 1)
INSERT [dbo].[producto] ([idProducto], [nombre], [descripcion], [precio], [precioProovedor], [imgUrl], [stock], [estado], [CreacionFecha], [ModificacionFecha], [idCategoria]) VALUES (2, N'Casco Deportivo V2', N'Casco de alta seguridad, color negro.', 65, 40, N'url/casco_v2.png', 50, 1, CAST(N'2025-11-18' AS Date), CAST(N'2025-11-18' AS Date), 2)
INSERT [dbo].[producto] ([idProducto], [nombre], [descripcion], [precio], [precioProovedor], [imgUrl], [stock], [estado], [CreacionFecha], [ModificacionFecha], [idCategoria]) VALUES (3, N'Jersey Térmico', N'Chaqueta térmica para invierno.', 95, 70, N'url/jersey.png', 30, 1, CAST(N'2025-11-18' AS Date), CAST(N'2025-11-18' AS Date), 3)
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
SET IDENTITY_INSERT [dbo].[rol] ON 

INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (2, N'Vendedor')
INSERT [dbo].[rol] ([idRol], [nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[rol] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [tipoDocumento], [documento], [nombre], [apellido], [telefono], [email], [clave], [idRol]) VALUES (1, N'CC', N'1010000', N'Juan', N'Perez', N'3101234567', N'juan.perez@tienda.com', N'hash_admin123', 1)
INSERT [dbo].[usuario] ([idUsuario], [tipoDocumento], [documento], [nombre], [apellido], [telefono], [email], [clave], [idRol]) VALUES (2, N'CE', N'A123456', N'Maria', N'Gomez', N'3209876543', N'maria.gomez@tienda.com', N'hash_vendedor', 2)
INSERT [dbo].[usuario] ([idUsuario], [tipoDocumento], [documento], [nombre], [apellido], [telefono], [email], [clave], [idRol]) VALUES (3, N'PAS', N'B777777', N'Luis', N'Hernandez', N'3005554433', N'luis.h@cliente.com', N'hash_cliente', 3)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [FK_producto_categoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [FK_producto_categoria]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[rol] ([idRol])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO
