<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="20480" executionTimeout="3600" />
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="20971520" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>