<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="loginMaster.master.cs" Inherits="AppRamirezBike.Vista.loginMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ramirez Bike - Ingreso</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        @keyframes background-zoom {
            0% {
                background-size: 110%;
            }
            100% {
                background-size: 100%;
            }
        }
        
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= ResolveUrl("img/FondoLogin.png") %>');
            
            background-color: #333333; 
            animation: background-zoom 30s infinite alternate; 
            
            background-attachment: fixed;
            background-position: center center;
            
            min-height: 100vh;
        }

        @keyframes fadeInBounce {
            0% {
                opacity: 0;
                transform: translateY(30px) scale(0.95);
            }
            70% {
                opacity: 1;
                transform: translateY(-5px) scale(1.01);
            }
            100% {
                transform: translateY(0) scale(1);
                opacity: 1;
            }
        }

        .animate-login {
            animation: fadeInBounce 0.8s ease-out forwards;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container-fluid">
            
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>

        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>